.landing{
    width: 100vw;
    margin: 0;
}

.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3%;
    gap: 8%;
    padding-bottom: 2rem;
}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    width: 100%;
    padding-top: 1rem;
    min-height: 25rem;
    height: 25rem;
}

.div1 div:first-child{
    font-size: 3rem;
    width: 50%;
}
.div1 div:nth-child(2){
    font-size: 1rem;
    width: 30%;
    margin-top: 0.5rem;
}
.getstart{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9D0AFF;
    border-radius: 16px;
    height: 3rem;
    width: 10rem;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
  }

.landimg{
    width: 95%;
    height: 100%;
}



/* -----------------MEDIA QURIES------------- */


@media only screen and (max-width: 1000px) {
    .div2{
        height: auto;
    }
    .div1 div:first-child{
        font-size: 3rem;
        width: 80%;
    }
    .div1 div:nth-child(2){
        font-size: 1rem;
        width: 50%;
        margin-top: 0.5rem;
    }

  }
  
@media only screen and (max-width: 400px) {

    .div1 div:first-child{
        font-size: 2.5rem;
        width: 80%;
    }
}