.sidebar{
    width: 60vw;
    background-color: #9D0AFF;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index:10;
    position: absolute;
    padding-top: 4rem;
}

.sidebarclose{
    position: absolute;
    top: 1rem;
    right: 2rem;
}
.login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbtn{
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
    background-color: #9D0AFF;
    cursor: pointer;
}

.content{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top:2rem;
    gap:0.5rem;
}

.menuitem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height:3rem;
    border: 2px solid #ccc;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
}

.menuitem:hover{
    background: #fff;
    color: #9D0AFF;
    cursor: pointer;
}

.loginbtn:hover{
    background: #fff;
    color: #9D0AFF;
    cursor: pointer;
}